ul#language_tabs {
  padding-bottom: 20px;
}

ul#language_tabs li {
  float: left;
  list-style: none;
  padding: 0;
  background: none;
}

ul#language_tabs li a, ul#language_tabs li a.active {
  color: #027AC6;
  padding: 5px 10px;  
}

ul#language_tabs li.active a {
  color: #fff;
  background-image: url(images/bg-tab.png);
  font-weight: bold;
}

ul#language_tabs li a:hover {
  color: #fff;
  background-image: url(images/bg-tab.png);	
} 